/**********************about me***********************88*/

/* about me txt */

.about-me-txt .about-me-title{
  font-size: 2rem;
  position: relative;
  width: fit-content;
}

.about-me-txt .who{
  font-weight: 200;
  margin-top: 8px;
  margin-bottom: 50px;
}

.about-me-txt .about-me-title::before{
  content: "/";
  color: #C778DD;
}

.about-me-txt{
  width: 45%;
  align-self: flex-start;
}

.about-me-txt .about-me-detailes-first,
.about-me-txt .about-me-detailes-second{
  color: #ABB2BF;
}

.about-me-txt .more{
  margin-top: 50px;
  border: 1px solid #C778DD;
  padding: 8px 16px;
  display: inline-block;
}

.about-me-txt .more:hover{
  background: #C778DD20;
}

.about-me-container{
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  height: 508px;}

.about-me-container .about-me-pic{
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  align-self: flex-end;
  position: relative;
  border-bottom: 1px solid #C778DD;
}

.about-me-container .about-me-pic img{
  position: absolute;
  top: 100px;
  left: 200px;
}

/* skills header*/

.skills-title{
  font-size: 2rem;
  position: relative;
  width: fit-content;
  margin-top: 125px;
}

.skills-title::before{
  content: "#";
  color: #C778DD;
}

/* skills content */

.skills-container{
  display: flex;
  gap: 20px;
  margin-top: 50px;
  align-items: flex-start;
}

.skills-container .skills{
  width: 100%;
  border: 1px solid #ABB2BF;
}

.skills-container .skills h4{
  border-bottom: 1px solid #ABB2BF;
  padding: 8px;
}

.skills-container .skills p{
  padding: 6px 8px;
  color: #ABB2BF;
}

/* facts */

.facts-container{
  display: flex;
  margin-top: 50px;
}

.facts-container .left{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* align-items: flex-start; */
}

.facts-container .left .content{
  padding: 0.5rem;
  border: 1px solid #ABB2BF;
}

.facts-container .right{
  position: relative;
  display: block;
  width: 30%;
}

.facts-container .right .shape{
  position: absolute;
}

.facts-container .right .shape.one{
  left: 50%;
  top: 50%;
}