

.projects-container .projects-title .title{
  font-size: 2rem;
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px;
}

.projects-container .projects-title .title::before{
  content: "/";
  color: #C778DD;
}

.projects-container .projects-title .title.hashtag::before{
  content: "#";
  color: #C778DD;
}

.projects-container .projects-title .more{
  margin-top: 8px;
  font-weight: 200;
}

/* projects content */

.projects{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects.second{
  margin-top: 30px;
}

.projects .project.hidden{
  visibility: hidden;
}

.projects .project{
  border: 1px solid #ABB2BF;
}

.projects .project .ingradients{
  padding: 6px 16px;
  font-weight: 400;
  color: #ABB2BF;
  border-bottom: 1px solid #ABB2BF;
}

.projects .project .details{
  padding: 20px 16px 16px 16px;
}

.projects .project .details h4{
  font-weight:normal;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.projects .project .details p{
  color: #ABB2BF;
  font-weight: 400;
  margin-bottom: 15px;
}

.projects .project .details .btn{
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #C778DD;
  width: fit-content;
}

.projects .project .details .btn:hover{
  background: #C778DD20;
}

.projects .project .details .btn.gray{
  border-color: #ABB2BF;
}

.projects .project .details .btn.gray:hover{
  background: #ABB2BF20;
}

/* skills header*/

.skills-title{
  font-size: 2rem;
  position: relative;
  width: fit-content;
  margin-top: 125px;
}

.skills-title::before{
  content: "#";
  color: #C778DD;
}

/* skills content */

.skills-container{
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.skills-container .column{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-container .column .skills{
  border: 1px solid #ABB2BF;
}

.skills-container .column .skills .skill-field{
  border-bottom: 1px solid #ABB2BF;
  padding: 8px;
}

.skills-container .column .skills p{
  padding: 6px 8px;
  color: #ABB2BF;
}

.skills-container .column .skills p:nth-child(2){
  color: #fff;
  font-size: 1.5rem;
  width: 300px;
}

/* /// */

.skills-container .column .skills .btn{
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #C778DD;
  width: fit-content;
  margin: 8px;
}

.skills-container .column .skills .btn:hover{
  background: #C778DD20;
}



